.flight-card,
.passenger-info {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  overflow: auto;
  .mat-card-content {
    font-size: 13px;
  }
  .flight-card__item {
    div {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.flight-card {
  padding: 0;
}

.passenger-info {
  position: absolute;
}
.flight-card__header {
  background-color: #00796b !important;
  .header__item {
    .item__text {
      padding-left: 2px;
      color: white;
    }
  }
}

mat-divider.divider-vertical {
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
}
