<div mat-dialog-content>
  <form [formGroup]="flightForm" validate>
    <mat-grid-list cols="1" rowHeight="340px">
      <mat-grid-tile [colspan]="1">
        <mat-card class="flight-card">
          <mat-grid-list cols="7" rowHeight="50px" class="flight-card__header">
            <mat-grid-tile [colspan]="1" class="header__item">
              <div>
                <mat-icon color="accent" class="item__icon-plane"
                  >local_airport</mat-icon
                >
              </div>
              <span class="item__text">AIR TICKET</span>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="9" rowHeight="250px">
            <mat-card-content>
              <mat-grid-tile [colspan]="3" class="flight-card__item">
                <div>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="PASSENGER"
                      formControlName="passenger"
                      required
                      type="search"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>CLASS</mat-label>
                    <mat-select formControlName="className">
                      <mat-option value="economy">ECONOMY</mat-option>
                      <mat-option value="first">FIRST</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="FLIGHT"
                      matInput
                      type="search"
                      required
                      formControlName="flightNumber"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="SEAT"
                      matInput
                      type="search"
                      formControlName="seat"
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" class="flight-card__item">
                <div>
                  <mat-form-field>
                    <input
                      placeholder="FROM"
                      matInput
                      required
                      formControlName="from"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="DEP. GATE"
                      formControlName="gate"
                      type="search"
                      matInput
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="DEP. TERMINAL"
                      matInput
                      formControlName="terminal"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="dpDepDate"
                      [matDatepickerFilter]="dateFilter"
                      placeholder="DEP. DATE"
                      formControlName="depDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="dpDepDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #dpDepDate
                      startView="month"
                      [startAt]="startDate"
                    ></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="DEP. TIME"
                      matInput
                      type="time"
                      formControlName="depTime"
                      required
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" class="flight-card__item">
                <div>
                  <mat-form-field>
                    <input
                      placeholder="DESTINATION"
                      matInput
                      required
                      formControlName="destination"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="ARR. GATE"
                      formControlName="arrGate"
                      type="search"
                      matInput
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="ARR. TERMINAL"
                      matInput
                      formControlName="arrTerminal"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="dpArrDate"
                      [matDatepickerFilter]="dateFilter"
                      placeholder="ARR. DATE"
                      formControlName="arrDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="dpArrDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #dpArrDate
                      startView="month"
                      [startAt]="startDate"
                    ></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="ARR. TIME"
                      matInput
                      type="time"
                      formControlName="arrTime"
                      required
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
            </mat-card-content>
          </mat-grid-list>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button cdkFocusInitial (click)="submit()">
    <span *ngIf="!editFlight; else updateBtn">Add</span>
    <ng-template #updateBtn><span>Update</span></ng-template>
  </button>
</div>
