<div class="grid-container">
  <div class="trip-view" *ngIf="tripViewModel && tripViewModel.trip as trip">
    <mat-grid-list cols="4" rowHeight="100px" class="trip-view__item info">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        [style.background]="color_header"
      >
        <mat-card class="info__card">
          <mat-card-header>
            <mat-card-title>
              {{ trip.name }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ trip.startDate | date: 'MMMM d, y' }} -
            {{ trip.endDate | date: 'MMMM d, y' }} / {{ trip.destination }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <app-trip-calendar [data]="tripViewModel"></app-trip-calendar>
    <app-trip-board [data]="tripViewModel"></app-trip-board>
  </div>
</div>
