@import '../../../../styles/functions.scss';
.trip-view {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: px-to-rem(10px);

  .info__card {
    position: absolute;
    top: px-to-rem(1px);
    left: px-to-rem(1px);
    right: px-to-rem(1px);
    bottom: px-to-rem(1px);
  }
  .info {
    margin-top: 10px;
  }
}
