<div class="grid-container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>This is a home page!</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
