@import '~@angular/material/theming';

@include mat-core();
@import './styles/variables.scss';

$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $background-color,
  )
);
$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);

@mixin snack-bar-theme($theme) {
  // .mat-snack-bar-container.warn {
  //   background-color: mat-color($warn);
  // }
}

@mixin my-app-theme($theme) {
  @include snack-bar-theme(theme);
  mat-icon.add-event {
    color: mat-color($accent);
  }

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  a {
    color: mat-color($accent);
  }
}

@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);
@include mat-card-theme($theme);
@include my-app-theme($theme);

mat-card {
  background-color: $component-bg-color !important;
}
mat-table {
  background-color: $component-bg-color !important;
}
.mat-menu-panel {
  background-color: $component-bg-color !important;
}
mat-sidenav-container {
  box-shadow: $box-shadow-sidenav-container;
  mat-sidenav {
    background-color: $component-bg-color !important;
    box-shadow: $box-shadow-sidenav;
  }
}
