@import '../node_modules/ngx-toastr/toastr.css';
@import './custom-theme';

//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  height: 100%;
  mat-sidenav-container {
    height: calc(100vh - 60px);

    .sidenav {
      min-width: 130px;
    }
  }

  .pointer {
    cursor: pointer;
  }
}
