.hotel-card {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  overflow: auto;
  padding: 0;
  .mat-card-content {
    font-size: 13px;
  }
  .hotel-card__item {
    div {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.hotel-card__header {
  background-color: #00796b !important;
  .header__item {
    .item__text {
      padding-left: 2px;
      color: white;
    }
  }
}
agm-map {
  height: 241px;
  width: 100%;
}
