<div mat-dialog-content>
  <form [formGroup]="hotelForm" validate>
    <mat-grid-list cols="1" rowHeight="600px">
      <mat-grid-tile [colspan]="1">
        <mat-card class="hotel-card">
          <mat-grid-list cols="7" rowHeight="50px" class="hotel-card__header">
            <mat-grid-tile [colspan]="1" class="header__item">
              <div>
                <mat-icon color="accent" class="item__icon-plane"
                  >hotel</mat-icon
                >
              </div>
              <span class="item__text">Hotel Info</span>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="9" rowHeight="250px">
            <mat-card-content>
              <mat-grid-tile [colspan]="3" class="hotel-card__item">
                <div>
                  <p>Who's staying?</p>
                  <mat-form-field>
                    <input
                      placeholder="NAME"
                      matInput
                      required
                      formControlName="guestName"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="GUESTS"
                      matInput
                      type="number"
                      formControlName="guestNumber"
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" class="hotel-card__item">
                <div>
                  <p>Where are you staying?</p>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="LOCATION"
                      required
                      type="search"
                      formControlName="location"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      #addresstext
                      placeholder="ADDRESS"
                      matInput
                      formControlName="address"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="ROOMS"
                      matInput
                      type="number"
                      formControlName="roomNumber"
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" class="hotel-card__item">
                <div>
                  <p>How long are you staying?</p>

                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="checkInDate"
                      [matDatepickerFilter]="dateFilter"
                      placeholder="CHECK-IN DATE"
                      formControlName="checkInDate"
                      disabled
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="checkInDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #checkInDate
                      disabled="false"
                    ></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="CHECK-IN TIME"
                      matInput
                      required
                      type="time"
                      formControlName="checkInTime"
                    />
                  </mat-form-field>

                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="checkOutDate"
                      [matDatepickerFilter]="dateFilter"
                      placeholder="CHECK-OUT DATE"
                      disabled
                      formControlName="checkOutDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="checkOutDate"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #checkOutDate
                      disabled="false"
                    ></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      placeholder="CHECK-OUT TIME"
                      matInput
                      required
                      type="time"
                      formControlName="checkOutTime"
                    />
                  </mat-form-field>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="9" class="hotel-card__item">
                <div>
                  <agm-map
                    [latitude]="locationLngLat.lat"
                    [longitude]="locationLngLat.lng"
                    [zoom]="18"
                  >
                    <agm-marker
                      [latitude]="locationLngLat.lat"
                      [longitude]="locationLngLat.lng"
                    ></agm-marker>
                  </agm-map>
                </div>
              </mat-grid-tile>
            </mat-card-content>
          </mat-grid-list>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button cdkFocusInitial (click)="submit()">
    <span *ngIf="!editHotel; else updateBtn">Add</span>
    <ng-template #updateBtn><span>Update</span></ng-template>
  </button>
</div>
