<div *ngIf="menuData">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <div
      mat-menu-item
      *ngFor="let item of menuData"
      routerLink="{{ item.link + '/' + item.id }}"
      (click)="(item.event)"
    >
      {{ item.action }}
    </div>
    <div mat-menu-item>
      <button mat-raised-button color="accent" (click)="exportToCalendar()">
        Export to google calendar
      </button>
    </div>
  </mat-menu>
</div>
