.trip-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  // overflow: auto;

  .info {
    display: flex;
    flex-direction: column;

    &.table {
      flex-direction: row;
      justify-content: space-around;
    }

    .info__item {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &.table {
        flex-direction: column;
        flex: 1 1;
        .label {
          background-color: #f57c0021;
        }
      }
    }
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.view-card-content {
  text-align: center;
}
