<mat-grid-list cols="2" rowHeight="{{ isTableView ? '100px' : '170px' }}">
  <mat-grid-tile
    *ngFor="let trip of tripsView"
    [colspan]="trip.cols"
    [rowspan]="trip.rows"
  >
    <mat-card class="trip-card">
      <mat-card-header>
        <mat-card-title *ngIf="!isTableView">
          <a
            color="primary"
            routerLink="/trips/view/{{ trip.id }}"
            matTooltip="View Trip"
            matTooltipPosition="right"
          >
            {{ trip.name }}
          </a>
          <div class="more-button">
            <app-menu id="{{ trip.id }}"></app-menu>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="info pointer {{ isTableView ? 'table' : '' }}">
        <div
          *ngIf="isTableView"
          class="info__item {{ isTableView ? 'table' : '' }}"
        >
          <span class="value">
            <a routerLink="/trips/view/{{ trip.id }}">
              {{ trip.name }}
            </a>
          </span>
        </div>
        <div class="info__item {{ isTableView ? 'table' : '' }}">
          <span class="label">Destination </span>
          <span class="value">{{ trip.destination }}</span>
        </div>
        <div class="info__item {{ isTableView ? 'table' : '' }}">
          <span class="label">Start Date </span>
          <span class="value">{{ trip.startDate }}</span>
        </div>
        <div class="info__item {{ isTableView ? 'table' : '' }}">
          <span class="label">End Date </span>
          <span class="value">{{ trip.endDate }}</span>
        </div>
        <div
          *ngIf="isTableView"
          class="info__item {{ isTableView ? 'table' : '' }}"
        >
          <a mat-button color="accent" routerLink="/trips/edit/{{ trip.id }}">
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
