<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="logo">beach_access</mat-icon>
  </button>
  <span>Trip Manager </span>
  <span class="header-spacer"></span>
  <h1 *ngIf="authService.user | async">
    Hello, {{ (authService.user | async)?.displayName }}
  </h1>
  <span>
    <img class="avatar" src="{{ (authService.user | async)?.photoURL }}" />
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-nav-list>
      <mat-list-item *ngIf="authService.user | async" routerLink="/profile">
        <a matLine>Profile</a>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="authService.user | async" routerLink="/trips">
        <a matLine>Trips</a>
        <button mat-icon-button>
          <mat-icon>directions_boat</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="authService.user | async"></mat-divider>
      <mat-list-item *ngIf="authService.user | async" (click)="logOut()">
        <a matLine>Log Out</a>
        <button mat-icon-button>
          <mat-icon class="exit-icon">exit_to_app</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="!(authService.user | async)" routerLink="/">
        <a matLine>Login</a>
        <button mat-icon-button>
          <mat-icon class="login-icon">exit_to_app</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
      <div id="top"></div>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
