.logo {
  font-size: 30px;
  color: #f57c00;
  line-height: 18px;
}

.exit-icon {
  color: red;
  transform: rotate(180deg);
}

.login-icon {
  color: green;
}

.header-spacer {
  flex: 1 1 auto;
}

.avatar {
  border-radius: 1000px;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border: 0px solid #000000;
  height: 34px;
  margin-left: 1px;
}
