<h1 mat-dialog-title>Do you really want do delete it ?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button cdkFocusInitial (click)="delete()">
    Ok
  </button>
</div>
