<mat-card class="flight-view__card" *ngIf="flight">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="accent" class="item__icon-plane">flight_takeon</mat-icon>
    </div>
    <mat-card-subtitle>Flight</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" class="flight-view" rowHeight="200px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        class="flight-view__item action"
      >
        <div class="item__list">
          <p matLine>
            <span>dep. time {{ flight.depTime }} </span>
          </p>
          <p matLine>
            <span>arr. time {{ flight.arrTime }} </span>
          </p>
          <div class="item__list actions">
            <mat-divider></mat-divider>
            <p
              class="pointer"
              class="action__item edit"
              (click)="editFlight(flight.id)"
            >
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <span>Edit </span>
            </p>
            <p
              class="pointer"
              class="action__item delete"
              (click)="deleteFlight(flight.id)"
            >
              <button mat-icon-button color="warn">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <span>Delete </span>
            </p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="flight-view__item">
        <div class="item__list">
          <p matLine>
            <span> Depart </span>
            <span> - {{ flight.from }} </span>
          </p>
          <p matLine>
            <span> Arrive </span>
            <span> - {{ flight.destination }} </span>
          </p>
          <p matLine>
            <span> Name </span>
            <span> : {{ flight.passenger }} </span>
          </p>
          <p matLine>
            <span> Class </span>
            <span> : {{ flight.className }} </span>
          </p>
          <p matLine>
            <span> Flight </span>
            <span> : {{ flight.flightNumber }} </span>
          </p>
          <p matLine>
            <span> Seat </span>
            <span> : {{ flight.seat }} </span>
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="flight-view__item">
        <div class="item__list">
          <p matLine>
            <span> Terminal </span>
            <span> : {{ flight.terminal }} </span>
            /
            <span> Gate </span>
            <span> : {{ flight.gate }} </span>
          </p>
          <p matLine>
            <span> Terminal </span>
            <span> : {{ flight.arrTerminal }} </span>
            /
            <span> Gate </span>
            <span> : {{ flight.arrGate }} </span>
          </p>
          <p matLine>
            <span>
              <mat-icon color="accent" class="item__icon-plane"
                >flight_takeon</mat-icon
              >
            </span>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
