<div *ngIf="data" #target>
  <div *ngFor="let item of data.activePeriod">
    <mat-grid-list cols="1" rowHeight="50px" class="board">
      <mat-grid-tile [colspan]="1" class="board__header" id="{{ item.id }}">
        <span>{{ item.day | date: 'MMMM d, y' }}</span>
        <app-menu-plans [trip]="data.trip"></app-menu-plans>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="2"
        class="board__plans"
        *ngIf="!hasPlansCheck(item.id)"
      >
        <mat-card class="plan-list__item">
          <mat-card-content> You don't have any plans</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list
      cols="1"
      rowHeight="320px"
      class="board"
      *ngIf="hasPlansCheck(item.id)"
    >
      <mat-grid-tile [colspan]="1" *ngFor="let flight of item.plans.flights">
        <app-flight-view [flight]="flight"></app-flight-view>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" *ngFor="let hotel of item.plans.hotels">
        <app-hotel-view [hotel]="hotel" [day]="item.day"></app-hotel-view>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
