@import '../../../../../styles/functions.scss';
.plan-list__item {
  position: absolute;
  top: px-to-rem(5px);
  left: px-to-rem(1px);
  right: px-to-rem(1px);
  bottom: px-to-rem(5px);
}

.board {
  margin-top: 10px;
  .board__header {
    background-color: #f3bd864f;
    mat-icon.add-event {
      color: #f57c00;
    }
  }

  .activeBoard {
    box-shadow: 1px 0px 17px 0px #ffa726;
  }
}
