<mat-card class="hotel-view__card" *ngIf="hotel">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="accent">hotel</mat-icon>
    </div>
    <mat-card-subtitle
      >Hotel
      <p *ngIf="isCheckOutDate; else showCheckIn">
        Check Out
      </p>
      <ng-template #showCheckIn>
        <p color="primary">Check In</p>
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" class="hotel-view" rowHeight="300px">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        class="hotel-view__item action"
      >
        <div class="item__list">
          <p matLine>
            <span>check-in time {{ hotel.checkInTime }} </span>
          </p>
          <p matLine>
            <span>check-out time {{ hotel.checkOutTime }} </span>
          </p>
          <div class="item__list actions">
            <mat-divider></mat-divider>
            <p
              class="pointer"
              class="action__item edit"
              (click)="edit(hotel.id)"
            >
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <span>Edit </span>
            </p>
            <p
              class="pointer"
              class="action__item delete"
              (click)="delete(hotel.id)"
            >
              <button mat-icon-button color="warn">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <span>Delete </span>
            </p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="hotel-view__item">
        <div class="item__list">
          <p matLine>
            <span> Name </span>
            <span>{{ hotel.guestName }} </span>
          </p>
          <div *ngIf="hotel.addressLocation as loc">
            <agm-map
              [latitude]="loc.latitude"
              [longitude]="loc.longitude"
              [zoom]="16"
            >
              <agm-marker
                [latitude]="loc.latitude"
                [longitude]="loc.longitude"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="hotel-view__item">
        <div class="item__list">
          <p matLine>
            <span> Location </span>
            <span> : {{ hotel.location }} </span>
          </p>
          <p matLine>
            <span> Address </span>
            <span> : {{ hotel.address }} </span>
          </p>
          <p matLine>
            <span>
              <mat-icon color="accent" class="item__icon-hotel">hotel</mat-icon>
            </span>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
