.hotel-view__card {
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;

  .item__icon-hotel {
    //transform: rotate(70deg);
  }
  .mat-card-content {
    font-size: 13px;
  }
  .hotel-view__item {
    &.action {
      border-right: 1px solid #e0dac6;
    }

    div.item__list {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 14px;

      .item__list {
        &.actions {
          padding-top: 51px;
          .action__item {
            margin: 0;
          }
        }
      }
    }
  }
}

mat-divider.divider-vertical {
  height: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
agm-map {
  height: 200px;
  width: 100%;
}
