<mat-grid-list cols="1" rowHeight="350px">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <form [formGroup]="registerForm" novalidate>
      <mat-card class="register-card">
        <mat-card-header>
          <mat-card-title>Create an account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Enter your name"
                  formControlName="name"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Enter your email"
                  formControlName="email"
                  required
                />
                <mat-error *ngIf="email.invalid">{{
                  getEmailErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Confirm Email"
                  formControlName="confirmEmail"
                />
                <mat-error *ngIf="confirmEmail.errors">{{
                  getConfirmEmailErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Enter your password"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="doRegister()">
            Register
          </button>
          <button mat-raised-button (click)="navigateLogin()">
            Login with existing account
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>
