.profile-card {
  margin: 2%;
}
.full-width {
  width: 89%;
  margin-left: 9px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.profile-header-image {
  background-size: cover;
}
