<div class="grid-container">
  <form [formGroup]="profileForm">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Update Profile:</mat-card-title>
      </mat-card-header>
      <app-uploader
        (imageUploaded)="handleImageUpload($event)"
        *ngIf="authService.user | async"
        path="{{ path }}"
      >
      </app-uploader>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <label>Name :</label>
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="name"
                required
                [(ngModel)]="name"
              />

              <mat-error>Fill your Name</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="updateName()">
          Update name
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
