<button mat-icon-button matTooltip="Add plans" [matMenuTriggerFor]="menu">
  <mat-icon color="accent" class="add-event">add_circle</mat-icon>
</button>
<mat-menu #menu="matMenu" color="primary">
  <button mat-menu-item (click)="flightDialog()">Flight</button>
  <button mat-menu-item (click)="hotelDialog()">Hotel</button>
</mat-menu>
