$component-bg-color: #fff8e1;
$main-bg-color: #fffbed;
$box-shadow-color: rgba(0, 0, 0, 0.27);
$box-shadow-sidenav-container: 0px 0px 10px 2px $box-shadow-color !important;
$box-shadow-sidenav: 0px 0px 4px 2px $box-shadow-color !important;
$primary: mat-palette($mat-teal, 700, 400, 700);
$accent: mat-palette($mat-orange, 700, 400, 700);
$warn: mat-palette($mat-red, 700, 500, 700);
$background-color: $main-bg-color;
$custom-typography: mat-typography-config(
  $font-family: '"Itim", cursive;',
  $subheading-2: mat-typography-level(19px, 31px, 400),
  $subheading-1: mat-typography-level(18px, 27px, 400),
  $body-2: mat-typography-level(17px, 27px, 500),
  $body-1: mat-typography-level(17px, 23px, 400),
  $caption: mat-typography-level(15px, 23px, 400),
  $button: mat-typography-level(17px, 17px, 500),
);
