<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="60px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="header">
      <button mat-raised-button color="primary" routerLink="/trips/add">
        Add a Trip
      </button>
      <mat-divider
        class="header__divider_vertical"
        [vertical]="true"
      ></mat-divider>

      <mat-button-toggle-group #group="matButtonToggleGroup" value="card">
        <mat-button-toggle
          value="card"
          matTooltip="Card view"
          (click)="viewModeValue = ViewMode.card"
        >
          <mat-icon>view_comfy</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          value="table"
          matTooltip="Table view"
          (click)="viewModeValue = ViewMode.table"
        >
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="trips$ | async as data; else loading">
    <div *ngIf="data.length > 0; else emptyBlock">
      <app-trips-card-view
        mode="{{ viewModeValue }}"
        [tripList]="data"
      ></app-trips-card-view>
    </div>
    <ng-template #emptyBlock>
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            You dont't have any trips.
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </ng-template>
</div>
