<h1 mat-dialog-title>Add your destination</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.destination" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.destination" cdkFocusInitial>
    Ok
  </button>
</div>
