<mat-grid-list
  *ngIf="data"
  cols="5"
  rowHeight="80px"
  class="trip-view__item calendar"
  gutterSize="5px"
>
  <mat-grid-tile
    *ngFor="let item of data.activePeriod"
    [colspan]="1"
    [rowspan]="2"
    [style.background]="color_calendar"
  >
    <mat-card class="calendar__card">
      <mat-card-content>
        <mat-grid-list cols="1" rowHeight="35px" class="plan-list header">
          <mat-grid-tile class="plan-list-header__item">
            <a routerLink="." (click)="scroll(item.id)">
              {{ item.day | date: 'MMMM d, y' }}
            </a>

            <app-menu-plans [trip]="data.trip"></app-menu-plans>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="15px" class="plan-list">
          <mat-grid-tile
            class="plan-list__item"
            *ngIf="!hasPlansCheck(item.id)"
          >
            <span>Empty</span>
          </mat-grid-tile>
          <mat-grid-tile
            class="plan-list__item hasPlans"
            *ngFor="let flight of item.plans.flights"
          >
            <span>{{ flight.depTime }}</span>
            <span>Flight</span>
          </mat-grid-tile>
          <mat-grid-tile
            class="plan-list__item hasPlans"
            *ngFor="let hotel of item.plans.hotels"
          >
            <span>{{ hotel.checkInTime }}</span>
            <span>Hotel</span>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
