@import '../../../../../styles/functions.scss';

.calendar__card {
  position: absolute;
  top: px-to-rem(1px);
  left: px-to-rem(1px);
  right: px-to-rem(1px);
  bottom: px-to-rem(1px);
  background-color: #ffffff !important;
  // overflow: auto;
  font-size: px-to-rem(17px);
  min-width: px-to-rem(130px);

  .plan-list {
    .plan-list__item {
      background-color: #fffbed;
      font-size: px-to-rem(14px);

      &.hasPlans {
        background-color: #c0f5c1 !important;
      }
    }

    .plan-list-header__item {
      a {
        font-size: px-to-rem(13px) !important;
      }

      &.header {
        min-width: px-to-rem(120px);
        margin-bottom: px-to-rem(2px);
      }
      mat-icon.add-event {
        color: #f57c00;
      }
    }
  }
}

.calendar {
  margin-top: px-to-rem(10px);
}
