<div class="grid-container">
  <div #gmap>
    <agm-map
      [latitude]="location.lat"
      [longitude]="location.lng"
      (mapClick)="openDialog($event.coords.lat, $event.coords.lng)"
    >
      <agm-marker
        [latitude]="location.lat"
        [longitude]="location.lng"
      ></agm-marker>
    </agm-map>
    <button mat-raised-button color="accent" (click)="exportToCalendar()">
      Export to google calendar
    </button>
  </div>

  <mat-card class="trip-edit-card">
    <mat-card-header>
      <mat-card-title>Edit Trip</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="tripEditForm" validate>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Enter trip's name"
                formControlName="name"
                [(ngModel)]="name"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Destination"
                formControlName="destination"
                required
                #addresstext
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="startDatePicker"
                placeholder="Start Date"
                formControlName="startDate"
                [(ngModel)]="startDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="endDatePicker"
                placeholder="End Date"
                formControlName="endDate"
                [(ngModel)]="endDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="updateTrip()"
        *ngIf="!isAddForm; else addBlock"
      >
        Update
      </button>
      <ng-template #addBlock>
        <button mat-raised-button color="primary" (click)="createTrip()">
          Create
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
