<div class="img-preview-container">
  <div
    *ngIf="selectedFile && selectedFile.src; else elseBlock"
    class="img-preview"
  >
    <img
      [src]="domSanitizationService.bypassSecurityTrustUrl(selectedFile.src)"
    />
  </div>
  <ng-template #elseBlock>
    <div class="img-preview img-empty"><mat-icon>account_circle</mat-icon></div>
  </ng-template>
</div>

<div class="uploader-button-container">
  <input
    hidden
    type="file"
    accept="image/*"
    (change)="onFileChanged($event)"
    #fileInput
  />
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    Select File
  </button>
  <button
    *ngIf="selectedFile && selectedFile.src && !uploaded"
    mat-raised-button
    color="accent"
    (click)="onUpload()"
  >
    Upload!
  </button>
</div>
