.img-preview-container {
  position: relative;

  .img-preview {
    display: flex;
    justify-content: center;
    height: 168px;
    img {
      width: 10em;
      height: 10em;
      border-radius: 1000px;
      -moz-border-radius: 1000px;
      -webkit-border-radius: 1000px;
      border: 0px solid #000000;
    }
    &.img-empty {
      .mat-icon {
        margin-right: 1em;
        font-size: 9em;
        color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.uploader-button-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 1px;
  }
}
